@import "tailwindcss";

body {
    background-color: #111;
    color: white;
}

#tasklist::-webkit-scrollbar,
#taskCard::-webkit-scrollbar,
#allTask::-webkit-scrollbar,
#allTaskList::-webkit-scrollbar {
    display: none;
}
@keyframes wave {
  0% { transform: rotate(0deg); }
  20% { transform: rotate(15deg); }
  40% { transform: rotate(-10deg); }
  60% { transform: rotate(15deg); }
  80% { transform: rotate(-10deg); }
  100% { transform: rotate(0deg); }
}

.animate-wave {
  display: inline-block;
  animation: wave 1.5s infinite;
  transform-origin: 70% 70%;
}
