@import "tailwindcss";

body {
    background-color: #111;
    color: white;
}

#tasklist::-webkit-scrollbar,
#taskCard::-webkit-scrollbar,
#allTask::-webkit-scrollbar,
#allTaskList::-webkit-scrollbar {
    display: none;
}
